.footer {
  width: 100%;
  background-color: var(--white-three);
  border-top: solid 1px var(--white-two);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
  }

  .footer__text {
    font-family: var(--OpenSansRegular);
    padding-top: 30px;
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: var(--brownish-grey);
    @media all and (min-width: 768px) {
      padding-top: 35px;
    }
  }

  .footer__logo {
    width: 103px;
    margin: 12px 47px 0 48px;
  }
}
