.container__preview {
  height: 457px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgb(33, 240, 229),
    rgb(112, 12, 112)
  );

  @media all and (min-width: 768px) {
    grid-column: 2/3;
    grid-row: 1/4;
    border-radius: 5px;
    height: 100%;
  }

  .card {
    width: 240px;
    background-color: white;
    padding-top: 21px;
    padding-bottom: 12px;
    box-shadow: 0 1px 10px 0 var(--black-20);
    &__reset {
      width: 75px;
      height: 30px;
      background-color: transparent;
      border: 1px solid var(--white-three);
      border-radius: 15px;
      font-family: var(--OpenSansRegular);
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: var(--gunmetal);
      margin-bottom: 20px;
      cursor: pointer;
      &:hover {
        background-color: var(--dirty-blue);
        color: var(--white-four);
      }
    }
    &__image {
      width: 100%;
      height: 200px;
      background-position: center;
      background-size: cover;
      margin-bottom: 10px;
    }
    &__socialInfo {
      padding-left: 20px;
    }
    &__socialMenu {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    &__rrss {
      display: inline-block;
      &--item {
        display: inline-block;
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;

        .icon {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
    &__personalInfo {
      width: 100%;
      height: auto;
      padding-left: 15px;
      margin-bottom: 10px;

      &--name {
        font-family: var(--Montserrat);
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 2px;
      }
      &--job {
        font-family: var(--Montserrat);
        font-weight: 400;
        font-size: 16px;
        color: var(--gunmetal);
        line-height: 20px;
      }
    }
  }
}

/*Color Palette 1*/
.rrssPalette1 {
  color: var(--dark-green-blue);
  border: 2px solid var(--hospital-green);
}
.personalInfoBorderPalette1 {
  border-left: 5px solid var(--dirty-blue);
}
.personalInfoNamePalette1 {
  color: var(--dark-green-blue);
}

//Profile

.profile__avatar {
  border: 1px solid #ccc;
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
