.secondFieldset {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  width: 281px;
  position: relative;
  padding: 13px 0px 30px 0px;
  border-top: var(--white);
  border-right: var(--white);
  border-left: var(--white);
  border-bottom: 1px solid var(--white-two);
  font-family: var(--OpenSansRegular);
  .input {
    display: none;
  }

  @media all and (min-width: 768px) {
    width: 329px;
  }
  &__legend {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--gunmetal);
    display: flex;
    justify-content: flex-start;
    width: 281px;
    cursor: pointer;
    &:hover {
      color: var(--dull-orange);
    }
  }
  &__label {
    width: 281px;
    height: 18px;
    font-weight: normal;
    font-size: 14px;
    color: var(--dark-green-blue);
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
  }
  &__input {
    width: 281px;
    height: 30px;
    font-size: 14px;
    padding-left: 13px;
    border: solid 1px var(--hospital-green);
    margin: 7px 0 0;
    @media all and (min-width: 768px) {
      width: 329px;
      height: 30px;
    }
  }
  &__button {
    width: 140px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    background-color: var(--dull-orange);
    color: var(--white-three);
    cursor: pointer;
    font-size: 14px;
    line-height: 1.43;
    margin: 0px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__buttoncontainer {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    margin-top: 7px;
  }
}
.fa-keyboard {
  color: var(--dull-orange);
  margin-right: 10px;
}
.fa-angle-up {
  position: absolute;
  right: 20px;
  cursor: pointer;
  &:hover {
    color: var(--dull-orange);
  }
}
.square {
  width: 30px;
  height: 30px;
  border: solid 1px var(--hospital-green);
  background-size: cover;
  background-position: center;
}
.collapsed {
  display: none;
}
.rotate {
  transform: rotate(180deg);
}
