.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--white-four);
  padding: 0 28px;

  .main__logo {
    width: 250px;
    height: 63px;
    margin: 125px 0 35px 0;
    @media all and (min-width: 768px) {
      width: 419px;
      height: 105px;
      margin: 350px 0 35px 0;
    }
  }

  .main__title {
    font-family: var(--Merriweather);
    font-size: 19px;
    color: var(--dull-orange);
    text-align: center;
    @media all and (min-width: 768px) {
      font-size: 24px;
    }
  }

  .main__subtitle {
    font-family: var(--OpenSansRegular);
    font-size: 12px;
    color: var(--dark-green-blue);
    padding-bottom: 10px;
    margin: 0px 100px 0px 100px;
    @media all and (min-width: 768px) {
      font-size: 16px;
      margin: 0px 200px 0px 200px;
    }
  }

  .main__rectangle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px;
    border: solid 1.6px var(--dull-orange-semi);
    margin-top: 10px;
    padding: 15px 25px;
    width: 268px;
    height: 73.8px;
    @media all and (min-width: 768px) {
      width: 325px;
      height: 86px;
      margin-bottom: 187px;
    }

    .main__article {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .main__article-image {
      width: 32px;
      height: 26px;
    }

    .main__article-text {
      font-family: var(--OpenSansRegular);
      font-size: 12px;
      color: var(--gunmetal);
    }
  }

  .main__link {
    width: 129px;
    height: 42px;
    margin: 38px;
    padding: 10px 20px;
    border-radius: 21px;
    background-color: var(--dirty-blue);
    &:hover {
      background-color: var(--dull-orange);
    }
    @media all and (min-width: 768px) {
      margin-bottom: 60px;
    }
  }

  .main__link-cta {
    font-family: var(--OpenSansRegular);
    font-size: 16px;
    font-weight: 600;
    color: var(--white-three);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
  }
}
